{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <style>
        .leaflet-container { height: 100%; }
    </style>
  </head>
  <body>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
            console.log('test');

            console.log('{{ touren }}');
            // var baseMaps = null;
            var controller = L.control.layers().addTo(map);
            {% for tour in touren %}
                console.log({{ tour }});
                var layer = L.geoJson( {{ tour.track }});
                controller.addOverlay(layer, 'name');
            {% endfor %}
            // var dataurl = '{% url "data_tour" 'kroatien' %}';
            // $.getJSON('https://tour.sarbot.de/media/karte/tracks/schweden.json', function(data) {
            //    var schweden = L.geoJson(data);
            //    controller.addOverlay(schweden, 'Schweden');
            // });
            // $.getJSON('https://tour.sarbot.de/media/karte/tracks/korsika.json', function (data) {
            //    var korsika = L.geoJson(data);
            //    controller.addOverlay(korsika, 'Korsika');
            // });
        }
    </script>

  </body>
</html>
