{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <style>
        .leaflet-container { height: 100%; }
    </style>
  </head>
  <body>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
            var controller = L.control.layers().addTo(map);
            {% for tour in touren %}
                var tourStyle = {
                    "color": '{{ tour.color|safe }}',
                };
                var orte_url = '{% url "orte_tour" tour.name %}';
                $.getJSON(orte_url, function(data) {
                    var orte = L.geoJson(data, {
                        style: function(feature) {
                            return {color: feature.properties.color};
                        },
                        pointToLayer: function(feature, latlng) {
                            //return new L.CircleMarker(latlng, {radius: 6, fillOpacity: 0.85});
                            return new L.circle(latlng, {radius: 100, fillOpacity: 0.85});
                        },
                        onEachFeature: function (feature, layer) {
                            layer.bindPopup(feature.properties.text);
                        }
                    });
                    orte.addTo(map);
                    controller.addOverlay(orte, '{{ tour.name|safe }}');
                });
                var track_url = '{% url "track_tour" tour.name %}';
                $.getJSON(track_url, function(data) {
                    var track = L.geoJson(data, {style: tourStyle});
                    track.addTo(map);
                    controller.addOverlay(track, '{{ tour.name|safe }}' + ' (Track)');
                });
            {% endfor %}
        }
    </script>

  </body>
</html>
