{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <style>
        .leaflet-container { height: 100%; }
    </style>
  </head>
  <body>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {


            var dataurl = '{% url "data_tour" 'kroatien' %}';
            $.getJSON(dataurl, function (data) {
                lct = L.control.layers().addTo(map);
                lct.addLayer(L.geoJson(data).addTo(map));
            });
        }
    </script>

  </body>
</html>
