{% extends "main/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}


{% block addcss %}
  {% leaflet_css %}
  <style>
      .leaflet-container { height: 100%; }
  </style>
  <link href="{% static 'karte/css/leaflet.contextmenu.css' %}" rel="stylesheet">
  <link href="{% static 'karte/css/easy-button.css' %}" rel="stylesheet">
{% endblock addcss %}

{% block addjs %}
  {% leaflet_js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{% static 'karte/js/leaflet.awesome-markers.js' %}"></script>
  <script src="{% static 'karte/js/leaflet.contextmenu.js' %}"></script>
  <script src="{% static 'karte/js/easy-button.js' %}"></script>
{% endblock addjs %}


{% block bodytag %}
  <body style="height: 100vh; padding-top: 56px; padding-bottom: 0px;">
{% endblock bodytag %}

{% block bodyroot %}

    <script type="text/javascript">
        //L.AwesomeMarkers.Icon.prototype.options.prefix = 'ion';
        var markerSize = 10;
        var track_orte = [];

        function main_map_init (map, options) {
            var controller = L.control.layers().addTo(map);
            map.addEventListener('click', function(ev) {
               console.log(ev);
            });
            {% for t in touren %}
            {% if t.newtrack.geo_json %}
            console.log('loading {{ t.alias }}');
            var track_{{ t.alias }} = {{ t.newtrack.geo_json|safe|default:'{}' }}{# |geojsonfeature|safe #};
            // function ft_style_{{ t.alias }}(feature){}
            var style_{{ t.alias }} = {"color": "{{ t.color }}"};
            var style2_{{ t.alias }} = {"color": "{{ t.color }}"};
            var layer_{{ t.alias }} = L.geoJson(track_{{ t.alias }}, {
              // style: style_{{ t.alias }},
              style: function(feature) {
                console.log(feature.properties.transfer);
                switch (feature.properties.transfer) {
                    case 'True': return {color: "{{ t.color }}", weight: 4, dashArray: '5, 10', dashOffset: '0'};
                    case 'False':   return {color: "{{ t.color}}", weight: 4};
                  }
              },
              onEachFeature: function (feature, layer) {
                if (feature.properties.popup) {
                  layer.bindPopup(feature.properties.popup);
                }
                layer.bindContextMenu({
                  contextmenu: true,
                  contextmenuItems: [{
                    text: 'Abbrechen'
                  },{
                    text: 'Django Admin',
                    callback: function(obj){
                      location.href = '/admin/karte/segment/'+feature.properties.id+'/change/';
                    }
                  },{
                    text: 'Hier Auftrennen',
                    callback: function(obj){
                      console.log(obj);
                      location.href = '/karte/segment/'+feature.properties.id+'/split/'+obj.latlng.lat+'/'+obj.latlng.lng;
                    }
                  }]
                });
              }
            }).addTo(map);
            controller.addOverlay(layer_{{ t.alias }}, '<span style="color: {{ t.color|safe }};">' + '{{ t.name|safe }}' + '</span>');
            {% endif %}
            {% endfor %}
            {% if tour %}
            L.easyButton('fa-upload', function(btn, map){
              location.href='/karte/{{ tour.alias }}/upload';
            }).addTo(map);
            {% endif %}
        }
        //on.
    </script>


    {% leaflet_map "main" callback="main_map_init" %}

{% endblock bodyroot %}

<!-- hide main and footer containers -->
{% block main %}
{% endblock %}
{% block footer %}
{% endblock %}
