<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    tour: <a href="/{{ eintrag.tour.alias }}">{{ eintrag.tour.name }}</a> <br/>
    datum: Tag {{ eintrag.tag }}
        {% if eintrag.datum %}({{ eintrag.datum|date:"SHORT_DATE_FORMAT" }}){% endif %}<br/>
    text: {{ eintrag.text }} <br/>
    <a href="{% url 'logbuch_eintrag' eintrag.tour.alias eintrag.letzter_eintrag %}">Vorheriger Eintrag</a> <br/>
    <a href="{% url 'logbuch_eintrag' eintrag.tour.alias eintrag.naechster_eintrag %}">Nächster Eintrag</a>
</body>
</html>
