{% extends "main/base.html" %}
{% load static %}
<!-- https://github.com/blueimp/Gallery#setup -->


{% block title %}
Tour - Bilder
{% endblock title %}



{% block addcss %}
<link rel="stylesheet" href="{% static 'bilder/css/blueimp-gallery.min.css' %}">
<link rel="stylesheet" href="{% static 'bilder/css/style.css' %}">
{% endblock addcss %}


{% block content %}
{% if false %}
<div><form action="/bilder" method="get">
    {{ form }}
    <input style="display:inline;" type="submit" value="Anwenden" />
</form></div>
{% endif %}
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <p class="description">edit</p>
      <!--<a href="/change" class="editlink">edit</a>-->
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
  </div>

<!-- real content -->
<div class="container" style="padding-top: 20px;">
  {% if user.is_authenticated %}
  <div class="row" style='padding-bottom: 10px;'>
    <h4> Fotos - {{ tour.name }}</h4>
    <a href="/bilder/{{ tour.alias }}/upload" class="btn btn-primary ml-auto float-right"><i class="fa fa-upload"></i></a>
  </div>
  {% endif %}
  <div class="row">
    <div id="links">
        {% for bild in bilder %}
        <a href="{{ bild.bild_web.url }}" title="{{ bild.titel }}" data-description="/admin/bilder/bild/{{ bild.id }}/change" data-delete-link="/admin/bilder/bild/{{ bild.id }}/delete">
            <img src="{{ bild.bild_thumb.url }}" alt="{{ bild.titel }}">
        </a>
        {% endfor %}
    </div>
  </div>
</div>


<script src="{% static 'bilder/js/blueimp-gallery.min.js' %}"></script>
<!--
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event,

        onslide: function (index, slide) {
            var text = this.list[index].getAttribute('data-description'),
                node = this.container.find('.description');
            node.empty();
            if (text) {
                node[0].appendChild(document.createTextNode(text));
                //node[0].setAttribute('href', 'hello');

            }
        }



        },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script> -->

<script>
document.getElementById('links').onclick = function (event) {
        event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {
                    index: link,
                    event: event,
                    onslide: function (index, slide) {
                                    console.log('sliding');
                                    var editlink = this.list[index].getAttribute('data-description'),
                                        deletelink = this.list[index].getAttribute('data-delete-link'),
                                        node = this.container.find('.description');
                                    node.empty();
                                    console.log(node);
                                    console.log(deletelink);
                                    if (editlink) {
                                        console.log('if editlink');
                                        var a = document.createElement('a');
                                        a.appendChild(document.createTextNode('edit, '));
                                        a.href = editlink;
                                        a.title =  "Bild bearbeiten";
                                        node[0].appendChild(a);
                                    }
                                    if (deletelink) {
                                        console.log('if deletelink');
                                        var a = document.createElement('a');
                                        a.appendChild(document.createTextNode(' delete'));
                                        a.href = deletelink;
                                        a.title =  "Bild loeschen";
                                        node[0].appendChild(a);
                                    }
                                }
                           },
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
};
</script>

{% endblock content %}
