{% load static %}
{% load tour_tags %}

<!doctype html>
<html lang="de">

{% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dokumentation der Fahrradtouren, des dynamischen Reisetrios aus Bremen. Angetan von der ersten Radtour durch die Alpen, begeben wir uns fast jedes Jahr auf die Reise mit dem Zelt und Fahrrad in und um Europa. Unsere Erlebnisse und Fotos werden auf dieser Seite gesammelt.">
    <meta name="author" content="Lukas Ruhe">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Tour Trio</title>


<!--

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 -->

    <!-- Bootstrap core CSS -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/carousel/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block addcss %}
    {% endblock addcss %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




  </head>
{% endblock head %}

  {% block bodytag %}
  <body style="padding-bottom: 0px; padding-top: 54px;">
  {% endblock bodytag %}



    {% block header %}
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          {# <a class="navbar-brand" href="/">Home</a> #}
          <div class="nav-item dropdown">
            <a class="nav-link navbar-brand dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if tour %}{{ tour.name }}{% else %}Tour{% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% touren_liste as tagtouren %}
                <a class="dropdown-item" href="/"><i class="fa fa-home" style='padding-right: 16px;'></i> Startseite</a>
              {% for t in tagtouren %}
                {% if tour %}
                  <a class="dropdown-item" href="/{% app_path %}/{{ t.alias }}">{{ t.name }}</a>
                {% else %}
                  <a class="dropdown-item" href="/tour/{{ t.alias }}">{{ t.name }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              {% if tour %}
                <li class="nav-item">
                  <a class="nav-link" href="/karte/{{ tour.alias }}">Karte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tour/{{ tour.alias }}">Bericht</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bilder/{{ tour.alias }}">Bilder</a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/logbuch/{{ tour.alias }}">Logbuch</a>
                  </li>
                {% endif %}
                <!--
                <li class="nav-item">
                  <a class="nav-link disabled" href="/statistik/{{ tour.alias }}">Statistik</a>
                </li>
                -->
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/karte/">Karte</a>
                </li>
              {% endif %}
              <!--
              <li class="nav-item">
                <a class="nav-link" href="/kontakt">Kontakt</a>
              </li> -->
            </ul>
            <!-- <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form> !-->
            {% if user.is_authenticated %}
              <a class="btn btn-outline-danger" type="button" href="/logout?next={{ request.path }}">Logout</a>
            {% else %}
              <a class="btn btn-outline-success" type="button" href="/login?{{ requext.path }}">Login</a>
            {% endif %}
          </div>
          </div
      </nav>
    </header>
    {% endblock header %}


    {% block topspacer %}
    <!-- <div style="height: 90px;"></div> -->
    {% endblock topspacer %}


      {% block bodyroot %}
      {% endblock %}

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      <!-- MAIN -->
      {% block main %}
      <main role="main" style="padding-top:20px;">
        {% block content %}
        {% endblock content %}
      </main>
      {% endblock main %}

      <!-- FOOTER -->
      {% block footer %}
      <footer class="container">
        <hr style="padding-top: 20px;">
        <p class="float-right"><a href="#">Nach Oben</a></p>
        <p>&copy; 2020 Lukas Ruhe&middot; <a href="#">Impressum</a></p>
      </footer>
      {% endblock footer %}

      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
      <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>-->

      {% block addjs %}
      {% endblock addjs %}
    </body>
</html>
