{% extends "main/base_main.html" %}
{% load static %}

{% block addcss %}
<link href="{% static 'main/css/tourlist.css' %}" rel="stylesheet">
{% endblock addcss %}

{% block content %}
  <div class="container marketing">

{% if touren %}
    <hr class="featurette-divider">
    {% for tour in touren %}
    <div class="row featurette">
      <div class="col-md-7 {% if not forloop.counter|divisibleby:2 %} order-md-2 {% endif %}">
        <h2 class="featurette-heading" style="margin-top:10px;">
            <a href="{% url 'main_tour' tour.alias %}" style="color: {{ tour.color }};">{{ tour.name }}</a></h2>
        <p class="lead"> {{ tour.short_text }}</p>
      </div>

      <div class="col-md-5">
        {% if tour.img %}
        {# <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="{{ tour.img.url }}" alt="{{ tour.titel }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"/> #}
        <img class="featurette-image img-fluid mx-auto" src="{{ tour.img.url }}" alt="{{ tour.titel }}" focusable="false" role="img"/>
        {% endif %}
      </div>
    </div>

    <hr class="featurette-divider">
    {% endfor %}
{% endif %}

</div><!-- /.container -->
{% endblock content %}
