{% extends "main/base_main.html" %}
{% load static %}

{% block addcss %}
<link href="{% static 'main/css/tourlist.css' %}" rel="stylesheet">
{% endblock addcss %}

{% block content %}
{% if touren %}
    {% for tour in touren %}
    <div class="block block-tour">
        {% if tour.img %}
        <img class="header-img block-bg" src="{{ tour.img.url }}" alt="{{ tour.titel }}"/>
        {% endif %}
        <div class="text block-text">
            Kurzbeschreibung der Tour und vielleicht auch die links?
        </div>
        <h2 class="heading block-title">
            <a href="{% url 'main_tour' tour.alias %}">{{ tour.name }}</a>
        </h2>
    </div>
    {% endfor %}
{% endif %}
{% endblock content %}