.block {
    height:300px;
    width:900px;
    position:relative;
    padding: 20px;

}

.header-image {
    position:absolute;
    left:0;
    top:0;
}

.block-title {
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:10px;
    top:10px;
}

.block-text {
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:10px;
    bottom:10px;
}