.block {
    min-height: 300px;
    position:relative;
    margin: 20px;

}

.header-image {
    position:absolute;
    left:0;
    top:0;
    width:100%;
}

.block-title {
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:10px;
    top:10px;
}

.block-title a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 6px #000;
    font-size: 50px;
}


.block-desc {
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:0px;
    width:100%;
    bottom:0px;
    background-color: rgba(0,0,0,0.5);
}

.text {
    padding: 10px;
}


.block > .block-desc {
    visibility: hidden;
    transition: visibility 0.3s linear;
    -webkit-transition: visibility 0.3s linear;
    -moz-transition: visibility 0.3s linear;
}
.block:hover > .block-desc {
    visibility: visible;
}